<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>超市管理员注册</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body bgcolor="#7fffd4">

{#登录界面居中#}
<div style="width:100%;text-align: center">
<h1>登录界面</h1>
<form action="/login" method="post">
    <p>账户：<input type="text" name="username" placeholder="请输入账号"></p>
    <p>密码：<input type="password" name="password" placeholder="请输入密码"></p>
    <p><input type="submit" value="提交"> <input type="reset" value="清除"></p>
</form>
</div>



</body>
</html>